extends layout
include mixins/_footer


block content
	.inner.account
		h2 Edit Your Account
		form(class="form" method="POST")

			//- User email address
			label(class="label" for="email") Email Address
			input(class="input" type="email" name="email" value=user.email)

			h3.mb-0 Optional event information
			p.tip Information entered here will automatically appear on the create event form. 

			//- Organistaion
			label(class="label" for="name") Organisation
			input(class="input" type="text" name="organisation" id="organisation" value=user.organisation)

			//- Address
			label(class="label" for="address") Event address
			input(class="input" type="text" id="address" name="address" value=user.address)

			//- //- Image upload
			//- label(for="image") Image
			//- input(type="file" name="image" id="image" accept="image/png, image/jpeg")
			//- if user.image
			//- 	img(src=`/uploads/${user.image}`, alt='' width=200)

			//- Update
			input.button(class="input" type="submit" formaction="/account" value="Update My Account")

			hr

			if user.eb_organiser_id
				h3 Eventbrite Account
				p You can import event details from Eventbrite by entering the <strong>event ID number</strong> on the <a href="/add">create event form</a>. Note you can only import events that are categorised as Science and where you are registered as the organiser.
				p Eventbrite organiser id: 
					span #{user.eb_organiser_id} 
				input(class="button--delete" type="submit" formaction="/delete-eventbrite-link" value="Delete Eventbrite ID" id="deleteEventbriteId" disabled)
				input(class="offscreen" type="checkbox" id="unlockDeleteEventbriteId")
				.padlock
					label(class="padlock-label" for="unlockDeleteEventbriteId" title="Click to enable the button")
						!= h.icon('padlock')
						span.offscreen Check to enable the Delete button
				hr
			
			if !user.eb_organiser_id
				h3 Link an Eventbrite Account
				p With a linked Eventbrite account you will be able to import event details directly from Eventbrite. Only events where you are registered as the organiser and are categorised as 'Science' can be imported. Your Eventbrite organiser ID can be found under you Eventbrite account settings: 

				p
					label(for="ebOrganiserId") Eventbrite Organiser ID:
					input(type="text" id="ebOrganiserId" name="eb_organiser_id")
					input(type="submit" formaction="/request-eventbrite" value="Request")

				p <em>Note: We can only authorise accounts where the registered email domain clearly represents the organisation you promote events for.</em>


				hr
			
			//- Delete Account
			h3 Delete Account
			p You account will be instantly removed from our database. Any events you have created will still exist and will be removed once they have expired.
			input(class="link" type="submit" formaction="/delete" value="Delete My Account" id="deleteAccount" disabled onclick="return confirm('To confirm deletion of your account click ok.');")
			input(class="offscreen" type="checkbox" id="unlockDeleteAccount")
			.padlock
				label(class="padlock-label" for="unlockDeleteAccount" title="Click to enable the button")
					!= h.icon('padlock')
					span.offscreen Check to enable the Delete button


block footer
	+footer()

	script(src="javascripts/account.js")
