extends layout

block content
	.inner
		h2 Edit Your Account
		form(class="form" method="POST")

			//- User email address
			label(class="form__label" for="email") Email Address
			input(class="form__input" type="email" name="email" value=user.email)

			p: a(href="") Change password.

			h3.mb-0 Optional event information
			p.tip Information entered here will appear on the create event form. 

			//- Organistaion
			label(class="form__label" for="name") Organisation
			input(class="form__input" type="text" name="organisation" id="organisation" value=user.organisation)

			//- Address
			label(class="form__label" for="address") Event address
			input(class="form__input" type="text" id="address" name="address" value=user.address)

			//- //- Image upload
			//- label(for="image") Image
			//- input(type="file" name="image" id="image" accept="image/png, image/jpeg")
			//- if user.image
			//- 	img(src=`/uploads/${user.image}`, alt='' width=200)

			//- Update
			input.button(class="form__input" type="submit" formaction="/account" value="Update My Account")

			hr

			if user.eb_organiser_id
				h3.offscreen Eventbrite Account
				p Eventbrite organsiser id: 
					span #{user.eb_organiser_id} 
					a(href="#") change id
				hr
			
			h3 Delete Account

			//- Delete Account
			input(class="" type="submit" formaction="/delete" value="Delete My Account" disabled)
