extends layout

block content
	.single
		.single__hero
			if event.eb_id
				img.single__image(src=`${event.poster || '/uploads/store.png'}`)
			else
				img.single__image(src=`/uploads/${event.image || 'store.png'}`)
			h2.title.title--single
				a(href=`/event/${event.slug}`) #{event.name}

		.single__details.inner
			img.single__map(src=h.staticMap(event.location.coordinates))
			p.single__location= event.location.address

			.event__organiser
				p= event.organisation
			.event__description
				.event__date
					p
						!= h.icon('calendar')
						span= event.display_date
				// price
				if event.price
					.event__price
						-const price = Number(event.price).toFixed(2)
						p
							!= h.icon('ticket')
							span= `£${price}`
				// price range
				if event.price_range && event.price_range.max_price
					-const min = Number(event.price_range.min_price).toFixed(2)
					-const max = Number(event.price_range.max_price).toFixed(2)
					.event__price
						p
							!= h.icon('ticket')
							if (min === '0.00')
								span= `Free - £${max}`
							else	
								span= `£${min} - £${max}`
				// free
				if event.is_free
					.event__free
						p Free
			
			.summary 
				h3 Summary
				if (event.eb_id)
					.summary__eventbrite
						.fade--out
							-let description = event.description.trim().split(' ').slice(0, 250).join(' ')
							- if(!/<[a-z][\s\S]*>/i.test(description)) { description = `<p>${description}`}
							!= description
						p.external__link
							a(target="_blank", rel="noopener noreferrer", href=event.website) More details available on EventBrite.
				else
					p!= event.description

			if event.tags
				ul.tags
					each tag in event.tags
						li.tag
							a.tag__link(href=`/tags/${tag}`)
								span.tag__text ##{tag}

		
