extends layout
include mixins/_createEvent
include mixins/_eventCard
include mixins/_footer

block content
	.single
		//- .single__hero

		article.single__details
			h1.title.title--single #{event.name}

			.description 
				h2 Event description
				if (event.eb_id)
					p!= event.description
					p.external__link
						a(target="_blank", rel="noopener noreferrer", href=event.website) More details available on EventBrite.
				else
					p!= event.description

			.static__map
				img.single__map(src=h.staticMap(event.location.coordinates))
				p.single__location= event.location.address

			aside
				+eventCard(event)

			
	if (eventsByOrganisation.length > 0)
		section.more-events
			h2 More events from #{event.organisation}
			.events
				for event in eventsByOrganisation
					+eventCard(event)

	section.single-create-events
		+createEvent()

			//- if event.tags
				ul.tags
					each tag in event.tags
						li.tag
							a.tag__link(href=`/tags/${tag}`)
								span.tag__text ##{tag}

block footer
	+footer()