mixin eventCard(event = {})

	.event
		.event__hero
			.event__actions
				if user 
					if user.admin || (event.author && event.author.equals(user._id))
						.event__action.event__action--edit
							a(href=`/event/${event._id}/edit`)
								!= h.icon('pencil')
								| Edit
			// donation banner
			if event.eb_id
				img(src=`${event.image || '/uploads/store.png'}` alt="")
			else
				img(src=`/uploads/${event.image || 'store.png'}` alt="")
		.event__details
			if user 		
				if user.admin || (event.author && event.author.equals(user._id))
					if event.end_datetime < new Date()
						p.text--warning: em This event has expired and will soon be deleted.
			.event__title
				h3.title
					if (event.slug === "")
						a(href=event.website) #{event.name}
					else
						a(href=`/event/${event.slug}`) #{event.name}
			dl
				dt(class="event__organiser offscreen") Organiser:
				dd= event.organisation
				dt(class="event__location offscreen") Address:
				dd!= h.icon('location')
					span=	event.location.address
				dt(class="event__date offscreen") Event date:
				dd!= h.icon('calendar')
					span= event.display_date
				//- Price
				if event.price_range && !event.price_range.max_price && event.price_range.min_price
					-const price = Number(event.price_range.min_price).toFixed(2)
					dt(class="event__price offscreen") Price:
					dd!= h.icon('ticket')
						span= `£${price}`
				//- Price range
				if event.price_range && event.price_range.max_price && event.price_range.min_price
					-const min = Number(event.price_range.min_price).toFixed(2)
					-const max = Number(event.price_range.max_price).toFixed(2)
					dt(class="event__price offscreen") Price range:
					dd!= h.icon('ticket')
						if (min === '0.00')
							span= `Free to £${max}`
						else	
							span= `£${min} to £${max}`
			//- Free
			if event.is_free
				.event__free
					p 
						span.offscreen This event is available for
						span free
						span.offscreen , for eligibility please check the organiser's website.
