mixin eventCard(event = {})

	.event
		.event__hero
			//- .event__actions
			//- 	if user 
			//- 		if user.admin === true || (event.author && event.author.equals(user._id))
			//- 			.event__action.event__action--edit
			//- 				a(href=`/events/${event._id}/edit`)
			//- 					!= h.icon('pencil') 
			// donation banner
			if event.eb_id
				img(src=`${event.image || '/uploads/store.png'}`)
			else
				img(src=`/uploads/${event.image || 'store.png'}`)
		.event__details
			.event__title
				h3.title
					a(href=`/event/${event.slug}`) #{event.name}
			.event__organiser
				p= event.organisation
			.event__description
				.event__location
					p
						!= h.icon('location')
						span=	event.location.address
				.event__date
					p
						!= h.icon('calendar')
						span= event.display_date
				// price
				if event.price
					.event__price
						-const price = Number(event.price).toFixed(2)
						p
							!= h.icon('ticket')
							span= `£${price}`
				// price range
				if event.price_range && event.price_range.max_price
					-const min = Number(event.price_range.min_price).toFixed(2)
					-const max = Number(event.price_range.max_price).toFixed(2)
					.event__price
						p
							!= h.icon('ticket')
							if (min === '0.00')
								span= `Free - £${max}`
							else	
								span= `£${min} - £${max}`
				// free
				if event.is_free
					.event__free
						p Free