mixin eventForm(event = {})


	if user.eb_organiser_id || user.admin
		form(action=`/eb/add` method="POST" class="form form__eb")
				//- p To import event details from Eventbrite enter the event ID number. Note you can only import events where you are register as the organiser. More information on how to find the event id can be found 
					a(href="https://www.eventbrite.co.uk/support/articles/en_US/How_To/how-to-find-the-event-id" target="_blank" rel="noopener noreferrer") here.
				label(class="form__label" for="ebEventId") Eventbrite event id:
				.flexbox
					input(class="form__input form__input--sml" type="text" id="ebEventId" name="eb_event_id")
					input(class="form__input form__input--sml button" type="submit" value="Get details")

	form(action=`/add/${event._id || ''}` method="POST" class="form" enctype="multipart/form-data")

		p Fields marked with an asterix (*) are required.

		//- Event Name
		label(class="form__label" for="event") Event name*
		input(class="form__input" type="text" id="event" name="name" value=event.name)

		//- Organisation Name
		label(class="form__label" for="organisation") Organisation*
		input(class="form__input" type="text" id="organisation" name="organisation" value=event.organisation || user.organisation)

		//- Description (tinyMCE)
		.text--editor
			label(class="form__label" for="description") Description
			span Add a description of your event.
			textarea(name="description" id="description")= event.description

		.flexbox
			div
				//- Start Datetime
				label(class="form__label" for="start") Start date*
				input(class="form__input form__input--sml" type="date" name="start_datetime" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value=`${event.start_datetime ? event.start_datetime.toISOString().slice(0,10) : '' }`)
			div
				//- End Datetime
				label(class="form__label" for="end") End date
				input(class="form__input form__input--sml" type="date" id="end" name="end_datetime" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value=`${event.end_datetime ? event.end_datetime.toISOString().slice(0,10) : '' }`)

		//- Website
		label(class="form__label" for="website") Event website
		span.helper example: https://example.com
		input(class="form__input" type="url" id="website" name="website" value=event.website)

		//- Price range
		p If your event has different priced tickets then set the minimum and maximum price:
		.flexbox
			div
				label(class="form__label" for="minPrice") Price / min (£)
				input(class="form__input form__input--sml" type="number" min="0.00" max="1000.00" step="0.01" id="minPrice" name="price_range[min_price]" value=(event.price_range && event.price_range.min_price) placeholder="0.00")
			div
				label(class="form__label" for="maxRange") Max price (£)
				input(class="form__input form__input--sml" type="number" min="0.01" max="1000.00" step="0.01" id="maxRange" name="price_range[max_price]" value=(event.price_range && event.price_range.max_price) placeholder="0.00")

		//- Image upload
		label(class="form__label" for="image") Image
		p If no image is uploaded then a default image will be displayed.
		input(class="form__input" type="file" name="image" id="image" accept="image/png, image/jpeg")
		if event.image
			if event.eb_id
				img(src=`${event.image}`, alt='' width=200)
			else
				img(src=`/uploads/${event.image}`, alt='' width=200)
		
		//- Address
		label(class="form__label" for="address") Event address*
		input(class="form__input" type="text" id="address" name="location[address]" value=((event.location && event.location.address) || user.address) )

		//- Extra tags
		p Check all that apply.
		- const choices = ['Family Friendly', 'Donation']
		- const tags = event.tags || []
		ul.tags
			each choice in choices
				.tag.tag__choice
					input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
					label(for=choice) #{choice}
		p.tag.tag__choice
			input(type="checkbox" id="free" name="is_free" value="true" checked=(event.is_free === "true"))
			label(for="free") Free
			
		//- Submit
		input(class="form__input button" type="submit" value="Save" class="button")
		
	//- Delete event
	if (event._id)
		form(action=`/events/${event._id}/delete` method="POST" class="form")
			input(class="form__input button" type="submit" value="Delete event" class="button button__danger")
